@model mhg_internalnet2.ViewModel.UserRoleViewModel
@{
    ViewBag.Title = "Edit";
    int num = 0;
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Home")">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "Users")">Users</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Change <strong>@Model.UserName</strong>'s Role</a>
        </li>
    </ul>

</div>
<br />

@Html.ValidationSummary()

<div class="alert alert-@ViewBag.Status">
    @ViewBag.Message
</div>
<br />

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">


        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-comments"></i>@Model.UserName's Roles
                </div>

            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Role Namle</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var role in Model.Roles)
                            {
                                num++;
                                <tr class="success">
                                    <th>@num</th>
                                    <th>@role.RoleName</th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="col-lg-12">

            @using (Html.BeginForm("AddToRole", "Users", FormMethod.Post, new { @class = "input-group" }))
            {
                @Html.DropDownList("roleName", null, new { @class = "form-control" })
                @Html.HiddenFor(model => model.UserId)
                <span class="input-group-btn">
                    <button class="btn btn-dark" type="submit" name="name">ADD</button>
                </span>
            }

        </div>
        <div class="col-lg-12">

            @using (Html.BeginForm("RemoveFromRole", "Users", FormMethod.Post, new { @class = "input-group" }))
            {
                @Html.DropDownList("roleName", null, new { @class = "form-control" })
                @Html.HiddenFor(model => model.UserId)
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="submit" name="name">Remove</button>
                </span>
            }



        </div>
    </div>
</div>

