@using Kendo.Mvc.UI
@model mhg_internalnet2.Models.RegisterViewModel
@{
    ViewBag.Title = "CreateUser";
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Home")">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "Users")">Users</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">create new Employee</a>
        </li>
    </ul>

</div>
<br />

@using (Html.BeginForm("CreateUser", "Users", FormMethod.Post, new { @class = "form-horizontal margin-bottom-40", enctype = "multipart/form-data", role = "form" }))
{
    <div class="row">
        <div class="col-md-12">

            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-haze">
                        <i class="icon-user font-green-haze"></i>
                        <span class="caption-subject bold uppercase">Create new Employee</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form role="form" class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">First Name</label>
                                <div class="col-md-10">

                                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", id = "form_control_1", placeholder = "First Name" })
                                    <div class="form-control-focus">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">Middle Name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="MiddleName" id="form_control_1" placeholder="Middle Name">
                                    <div class="form-control-focus">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">Last Name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="LastName" id="form_control_1" placeholder="Last Name">
                                    <div class="form-control-focus">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">Email</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="form_control_1" name="Email" placeholder="Email">
                                    <div class="form-control-focus">
                                    </div>
                                    <span class="help-block">example@sera.com.eg</span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">Password</label>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" id="form_control_1" name="Password" placeholder="Enter your Password">
                                    <div class="form-control-focus">
                                    </div>

                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">Confirm Password</label>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" id="form_control_1" name="ConfirmPassword" placeholder="confirm your password">
                                    <div class="form-control-focus">
                                    </div>

                                </div>
                            </div>

                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">Address</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="form_control_1" name="Address" placeholder="Adress">
                                    <div class="form-control-focus">
                                    </div>

                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">National ID</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="form_control_1" name="NationalId" placeholder="National ID">
                                    <div class="form-control-focus">
                                    </div>

                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">Sex</label>
                                <div class="col-md-10">
                                    <div class="md-radio-inline">
                                        <div class="md-radio has-warning">
                                            <input type="radio" id="radio53" name="IsMale" class="md-radiobtn" checked="checked">
                                            <label for="radio53">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                Male
                                            </label>
                                        </div>
                                        <div class="md-radio has-error">
                                            <input type="radio" id="radio54" class="md-radiobtn">
                                            <label for="radio54">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                Female
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">Home Phone</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="form_control_1" name="HomePhone" placeholder="Home Phone">
                                    <div class="form-control-focus">
                                    </div>

                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">Mobile Phone</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="form_control_1" name="MobilePhone" placeholder="Mobile Phone">
                                    <div class="form-control-focus">
                                    </div>

                                </div>
                            </div>



                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">Birth Date</label>
                                <div class="col-md-10">
                                    @(Html.Kendo().DatePicker()
                                           .Name("BirthDate")

                                           .HtmlAttributes(new { @class = "form-control", @for = "form_control_1", })
                                    )
                                    <div class="form-control-focus">
                                    </div>

                                </div>
                            </div>

                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">Department</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("DepartmentId", (SelectList)ViewBag.Departments, "Choose Department", new { @class = "form-control", @onchange = "FillJoobs()" })
                                    <div class="form-control-focus">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">Job Title</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(m => m.JobId, new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Name"), "Select Job", new { @class = "form-control" })
                                    <div class="form-control-focus">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">Job Place</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(m => m.StoreId, (SelectList)ViewBag.JobPlaces, "Choose Job Place", new { @class = "form-control" })
                                    <div class="form-control-focus">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">Hire Date</label>
                                <div class="col-md-10">
                                    @(Html.Kendo().DatePicker()
                                          .Name("HireDate")

                                          .HtmlAttributes(new { @class = "form-control", @for = "form_control_1" })
                                    )
                                    <div class="form-control-focus">
                                    </div>

                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">Bank Account</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="form_control_1" name="BankAccount" placeholder="Bank Account">
                                    <div class="form-control-focus">
                                    </div>

                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">Finger Print</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="form_control_1" name="FingerPrintNumber" placeholder="Finger Print">
                                    <div class="form-control-focus">
                                    </div>

                                </div>
                            </div>

                            <div class="form-group form-md-line-input">
                                <h2 class="StepTitle">Choose your picture</h2>
                                <div class="fileinput fileinput-new" data-provides="fileinput" style="margin-left: 360px">
                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 400px; height: 225px;"></div>
                                    <div>
                                        <span class="btn btn-default btn-file" style="width: 319px"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input has-success">
                                <label class="col-md-2 control-label" for="form_control_1">Small Description</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" rows="3" placeholder="Enter more text"></textarea>
                                    <div class="form-control-focus">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-10">

                                    <a class="btn default" href="@Url.Action("Index","Users")">Cancel</a>
                                    <button type="submit" class="btn blue">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>

}

<script>
    function FillJoobs() {

        var Id = $('#DepartmentId').val();
        $.ajax({
            url: '/Users/FillJobs',
            type: "GET",
            dataType: "JSON",
            data: { id: Id },
            success: function(jobs) {
                $("#JobId").html("");
                $("#Brand").html("");
                // clear before appending new list
                $.each(jobs, function(i, JobId) {
                    $("#JobId").append(
                        $('<option></option>').val(JobId.Id).html(JobId.Name));
                });
            }
        });
    }


</script>
<script src="~/Scripts/jasny-bootstrap.min.js"></script>
<link href="~/Content/jasny-bootstrap.min.css" rel="stylesheet" />